.about-us__h2 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 38px;
    text-align: right;
    text-transform: uppercase;
}
.about-us__h2__dot {
    font-size: 38px;
    color: #f40106;
}
.about-us__p1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.about-us__p2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}