.box{
    width: 570px;
    margin: 10% auto calc(10% + 80px);
    position: relative;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.box_head{
    padding: 16px 16px 16px 16px;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--block-name-color);
    text-transform: none;
    background-color: rgb(247, 248, 250);
}
.cross{
    color: var(--block-name-color);
    position: absolute;
    width: 24px;
    top: 18px;
    right: 12px;
    cursor: pointer;
    z-index: 3;
}
.all-shoping-card{
    position: static;
    color: var(--block-name-color);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}
.text_name_box{
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--block-form-color);
    text-transform: none;
    font-size: 12px!important;
    font-weight: 700!important;
}
.product-inner{
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
    text-align: left;
    color: var(--block-name-color);
}
.preview_photo_72{
    position: relative;
    width: 46px;
    height: 46px;
    -webkit-box-flex: 0;
    flex: 0 0 46px;
}
.info{
    display: flex;
    padding: 0 20px 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1;
    width: 400px;
    height: 36px;
}
.info_name_text{
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--block-form-color);
    text-transform: none;
    font-weight: 700!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    width: 100px;
}
.input_price{
    display: flex;
    height: 18px;
    padding: 8px 12px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid #c5cbd6;
    box-shadow: inset 0 1px 0 var(--block-input-color);
    border-radius: 0;
    background: var(--block-white-color);
    width: 49px;

}
.input_price input{
    outline: none;
    border: none;
    width: 39px;
    height: 18px;
    display: block;
}
.input_price input::-webkit-inner-spin-button{
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.arrow_up{
    display: block;
    width: 10;
    height: 6;
    fill: none;
    cursor: pointer;
    user-select: none;
    margin-top: -27px;
    margin-left: 40px;
    margin-right: 10px;
}
.arrow_up img{
    width: 12px;
    filter: invert(50%);
}
.arrow_up:not(:root){
    overflow: hidden;
}
.arrow-down{
    display: block;
    width: 10;
    height: 6;
    fill: none;
    cursor: pointer;
    user-select: none;
    margin-top: -14px;
    margin-left: 40px;
    margin-right: 10px;
}
.arrow-down img{
    width: 12px;
    filter: invert(50%);
}

.arrow-down:not(:root){
    overflow: hidden;
}

.amount-3S-ui-text{
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--block-form-color);
    text-transform: none;
    margin-left: 24px;
}
.remove_2cA img{
    width: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 4px;
    -webkit-box-flex: 0;
    flex: 0 0 24px;
    user-select: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    border-radius: 4px;
    transition: background-color .3s;
    fill: none;
}
.remove_2cA img:not(:root) {
    overflow: hidden;
}

.ui-text {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--block-form-color);
    text-transform: none;
}
.price-details_2Qi {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    column-gap: 4px;
    font-size: 14px!important;
    text-align: right;
    margin-top: 16px;
}
.price-details_2Qi .total_1VG {
    font-size: 18px!important;
    font-weight: 700!important;
    text-align: right;
    margin-top: 8px;
    line-height: 22px;
}
.main_box{
    display: block;
    position: relative;
    margin-top: 24px;
}
.name_form{
    color: var(--block-form-color);
}

.name-name{
    color: var(--block-form-color);
    display: inline-block;
    width: auto;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}
.star-symbol{
    color: var(--block-dot-color);
    opacity: 1;
    display: inline-block;
    width: auto;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}
.form__input{
    display: block;
    border-color: #9b9b9b!important;
    background-color: var(--block-input-color)!important;
    --w-get-input-background-color: rgba(34, 35, 35, 0.12);
    border-width: 0px;
    box-shadow: none;
    text-overflow: ellipsis;
    text-rendering: auto;
    font-family: inherit;
    appearance: none;
    background: none;
    width: 93%;
    margin-top: 12px;
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 0;
    color: inherit;
    line-height: 1.3333;
    text-align: start;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: 400;
}
.email_form{
    color: var(--block-form-color);
    margin: 16px 0px 24px;
}
.form__input_comment{
    font-family: PT Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    border-color: #9b9b9b;
    background-color: rgba(34, 35, 35, 0.12);
    --w-get-input-background-color: rgba(34, 35, 35, 0.12);
    border-width: 0px;
    display: block;
    width: 90%;
    margin-top: 12px;
    appearance: none;
    box-shadow: none;
    text-align: start;
    text-overflow: ellipsis;
    padding: 15px 26px;
    font-size: 15px;
    border-radius: 0;
    color: inherit;
    line-height: 1.3333;
    min-height: 114px;
    resize: none;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
}
.footer_box{
    margin-top: 50px;
    display: block;
    -webkit-box-pack: center;
    justify-content: center;
}
.button_order{
    width: calc(100% + 30px);
    margin:  15px 15px 15px -15px;
    text-align: center;
}
.button__content{
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    color: var(--block-white-color);
}
.button_red{
    display: inline-block;
    position: relative;
    background-color: #f40106;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 0;
    padding: 18px 30px;
    font-size: 16.5px;
    line-height: 1.3333em;
    letter-spacing: 0;
    width: 10%;
    text-align: center;
    cursor: pointer;
    justify-items: center;

}
