@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&family=PT+Serif:ital@1&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*:focus,:active{outline: none;}*/
/*a:focus,a:active{display: none;}*/
nav,footer,header,aside{display: block;}
html,body{
  min-width: 320px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
:root {
  font-family: "PT Sans", sans-serif;
  --font-titles: "Bebas Neue", cursive;
  --font-basket: "PT Serif", serif;
  --block-name-color: #222323; /* rgb(34, 35, 35) h2, h3*/
  --block-dot-color: #f40106; /* rgb(244, 1, 6) dot, price, store homepage, product code */
  --block-form-color: #717474; /* rgb(113, 116, 116) p, h4, price, description*/
  --block-white-color: #fff; /* rgb(255, 255, 255) shop now*/
  --block-input-color: rgba(34, 35, 35, 0.12);
  --block-transparent-color: rgba(34, 35, 35, 0.46); /* trending */
  --block-in-stock-color: rgb(97, 168, 84); /* In stock */
  --block-about-us-color: #222323;
  --block-why-choose-us-divider-color: #e0e0e0;
  --block-why-choose-us-icons-color: #9b9b9b;
}
