/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); font-family: 'Bebas Neue', cursive;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap'); font-family: 'Bebas Neue', cursive;
font-family: 'PT Sans', sans-serif;*/

/* Gennadiy start */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");
/* Gennadiy end */
:root {
  --block-name-color: #222323;
  --block-dot-color: #f40106;
  font-family: 'PT Sans', sans-serif;
  --font-titles: 'Bebas Neue', cursive;
}
