
.top-discount-big {
    font-family: Bebas Neue;
    font-size: 120px;
    font-stretch: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    margin-left: 90px;
    font-style: normal;
    margin-top: -5px;
    margin-bottom: -40px;
    padding-left: 300px;
}

.top-discount-small {
    color: rgba(255, 255, 255, 0.62);
    font-size: inherit;
    margin-left: 90px;
    padding-left: 300px;
    font-family: Bebas Neue, cursive;
    font-size: 25px;
    font-stretch: 100%;
    padding-top: 250px;
}
.top-discount-contein{
    background-image: url(../img/discount-img/top-discount-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.top-discount {
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 850px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-block-start: 100px;
}

.top-discount-punto {
    font-size: 130px;
    color: red;
}

.discont-button {
    padding: 18px 18px;
    border-radius: 0;
    font-size: 16.5px;
    line-height: 1.3333em;
    letter-spacing: 0;
    background-color: rgb(255, 255, 255);
    margin-left: 395px;
    margin-top: 50px;
}

.top-discount-button {
    color: black;
    text-decoration: none;
    font-family: PT Sans, sans-serif;
    margin-left: 18px;
    text-align: center;
}

.discont-button:hover {
    background-color: #222323;
}

.top-discount-button:hover {
    color: black;
}

.all-discount {
    display: inline-flex;
    flex-wrap: wrap;
}

.discount-20-banner {
    background: url(../img/discount-img/discount-20.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    background-position: center;
    background-size: cover;
    margin: 15px 20px;
    margin-block-end: 100px;
}

.discount-20-border-text {
    background-color: rgba(34, 35, 35, 0.89);
    margin-top: 250px;
    margin-left: 33px;
    margin-right: 33px;
    height: 120px;
    width: 550px;
    text-align: center;
}

.discount-20-banner-text {
    font-family: Bebas Neue;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 25px;
}

.discount-20-button {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    color: #fff;
    background: linear-gradient(to left, #d7d2cc, #304352, #434343);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-top: 90px;
}

.discount-20-button:hover {
    background-position: right;
}

.box-to-key-20-discount {
    margin-top: 11px;
}

.discount-30-banner {
    background: url(../img/discount-img/discount-30.jpeg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    background-position: center;
    background-size: cover;
    margin: 15px 15px;
    margin-block-end: 100px;
}

.discount-30-border-text {
    background-color: rgba(34, 35, 35, 0.89);
    margin-top: 250px;
    margin-left: 33px;
    margin-right: 33px;
    height: 120px;
    width: 550px;
    text-align: center;
}

.discount-30-banner-text {
    font-family: Bebas Neue;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 25px;
}

.discount-30-button {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    color: #fff;
    background: linear-gradient(to left, #d7d2cc, #304352, #434343);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-top: 90px;
}

.box-to-key-30-discount {
    margin-top: 11px;
}

.discount-30-button:hover {
    background-position: right;
}

.discount-25-banner {
    background: url(../img/discount-img/discount-25.jpeg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    background-position: center;
    background-size: cover;
    margin: 15px 15px;
    margin-block-end: 100px;
}

.discount-25-border-text {
    background-color: rgba(34, 35, 35, 0.89);
    margin-top: 250px;
    margin-left: 33px;
    margin-right: 33px;
    height: 120px;
    width: 550px;
    text-align: center;
}

.discount-25-banner-text {
    font-family: Bebas Neue;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 20px;
}

.box-to-key-25-discount {
    margin-top: 11px;
}

.discount-25-button {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    color: #fff;
    background: linear-gradient(to left, #d7d2cc, #304352, #434343);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-top: 90px;
}

.discount-25-button:hover {
    background-position: right;
}

.top-discount-button-test {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 20px;
    font-family: PT Sans, sans-serif;
    color: #fff;
    background: linear-gradient(to left, #bdc3c7, #b21f1f, #D3CCE3);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin: 390px;
}

.top-discount-button-test:hover {
    background-position: right;
}

.box-to-key-top-discount {
    margin-top: 60px;
}