*{
    margin: 0;
    padding: 0;
}
.head-banner_1{
    background: var(--block-dot-color); 
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.header-banner-rad{
    display: flex;
    font-size: 13px;
    color: var(--block-white-color);
    margin-left: 357px;
    font-weight: bold;
}
.text-left-banne{
    font-weight: bold;
    margin-left: -15px;
    margin-right: -15px;
}

.text-right-banner{
    display: flex;
    font-weight: bold;
    margin-left: 630px;
    margin-right: 15px;

}

.ui-link{   
    color: var(--block-white-color);  
    font-weight: bold;
    text-decoration: none;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    margin-top: 5px!important;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% + 20px);  
}

.ui-link:hover{
    text-decoration: underline;
}

.selection_menu{
    background: var(--block-name-color); 
    position: relative; 
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;

}


.logo{
    margin-left: 355px;
}

.header_top-nav-menu{
    margin-left: 55px;
    margin-top: 15px;
    
}
.header_top-nav-menu a{
    color: var(--block-white-color);
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    width: 43.32655352011494%;
}



.links_h {
	position: relative;
    font-size: 1.25rem;
}


.links_h:hover:before {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}

.links_h:before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--block-white-color);
	position: absolute;
	left: 0; bottom: -5px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}
.social-icon{
    margin-left: 365px;
}

.social-icon img{
    filter: invert(100%);
    width: 30px;
    padding-right: 10px;
    margin-top: 8px;
}

.under_head{
    background-image: url(/img/img-head/under-head.jpg);
    box-sizing: border-box;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 824px;
    background-size: cover;
}
.text p{
    color:  var(--block-transparent-color);
    font-size: 24px;
    margin-left: 351.500px;
    font-family: var(--font-titles);
    position: relative;
    min-width: 320px;
    padding-top: 205px;
}
.text-content{
    font-size: 124px;
    margin-left: 351.500px;
    color: var(--block-name-color);
    line-height: 1;
    font-family: var(--font-titles);
    font-weight: 400;
    position: relative;
    min-width: 15px;
    padding-top: 10px;

}
.text-display{
    display: flex;

}
.text-ui-brand-color{
    color:  var(--block-dot-color)!important;
    font-size: 124px;
    line-height: 1.2;
    font-family: var(--font-titles);
    margin-left: 10px;
    font-weight: 400;
}
.w-text-content{
    font-size: 124px;
    margin-left: 351.500px;
    color: var(--block-name-color);
    line-height: 1;
    font-family: var(--font-titles);
    font-weight: 400;
    position: relative;
    min-width: 15px;
}

.button{
    display: inline-block;
    padding: 18px 30px;
    border-radius: 0;
    font-size: 16.5px;
    line-height: 1.3333em;
    letter-spacing: 0;
    background-color: var(--block-dot-color);
    margin-top: 40px;
    margin-left: 351.500px;
    cursor: pointer;

}
.button__content_1_I{
    color: var(--block-white-color);
    text-decoration: none;
}
.button:hover{
    background-color:var(--block-name-color);
}