* {
    margin: 0;
    padding: 0;
}

.head-banner_1 {
    background: rgb(214, 3, 7);
    padding-top: 13px;
    padding-bottom: 13px;

}

.header-banner-rad {
    display: flex;
    font-size: 13px;
    color: var(--block-white-color);
    margin-left: 20%;
    font-weight: bold;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-left-banner {
    margin-left: 5%;
    width: 33.333333333333336%;
    justify-content: flex-start;
    vertical-align: baseline;

}

.text-right-banner {
    display: flex;
    margin-left: 20%;
    margin-right: 5%;

}

.ui-link {
    color: var(--block-white-color);
    font-weight: bold;
    text-decoration: none;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    margin-top: 5px !important;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% + 20px);
}

.ui-link:hover {
    text-decoration: underline;
}

.selection_menu {
    background: var(--block-name-color);
    position: relative;
    display: inline-flex;
    height: 100px;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
}

.logo {
    margin-left: 20%;
    width: 10%;
    display: inline-flex;
    z-index: 2;
}

.header_top-nav-menu {
    width: 500px;
    margin-left: 55px;
    margin-top: 15px;
}

.header_top-nav-menu a {
    color: var(--block-white-color);
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5%;
    width: 43.32655352011494%;
}

.links_h {
    position: relative;
    font-size: 1.25rem;

}


.links_h:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}

.links_h:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--block-white-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}

.social-icon {
    margin-left: 10%;
    margin-right: 5%;
    width: 150px;
}

.social-icon img {
    filter: invert(100%);
    width: 30px;
    margin-right: 3%;
    margin-top: 8px;
}

.social-icon img:hover {
    background: var(--block-white-color);
    filter: none;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .head-banner_1 {
        display: none;
    }

    .header_top-nav-menu {
        display: none;
    }

    .logo {
        margin-left: 2%;
    }

    .social-icon {
        display: none;
    }

}

.under_head {
    background-image: url(../img/img-head/under-head.jpg);
    box-sizing: border-box;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 824px;
    background-size: cover;
}

.text {
    position: relative;
}

.text p {
    color: var(--block-transparent-color);
    font-size: 24px;
    margin-left: 19%;
    font-family: var(--font-titles);
    position: relative;
    min-width: 320px;
    padding-top: 205px;
    margin-right: 5px;
}

.text-display {
    display: flex;
}

.text-content {
    font-size: 124px;
    margin-left: 19%;
    color: var(--block-name-color);
    line-height: 1;
    font-family: var(--font-titles);
    font-weight: 400;
    position: relative;
    min-width: 15px;
    padding-top: 10px;
}

.text-ui-brand-color {
    color: var(--block-dot-color) !important;
    font-size: 124px;
    line-height: 1.2;
    font-family: var(--font-titles);
    margin-left: 10px;
    font-weight: 400;
}

.text-ui-brand-color-dot {
    color: var(--block-dot-color) !important;
    font-size: 124px;
    line-height: 1.2;
    font-family: var(--font-titles);
    margin-left: 10px;
    font-weight: 400;
}

.w-text-content {
    display: flex;
    font-size: 124px;
    margin-left: 19%;
    margin-right: 40%;
    color: var(--block-name-color);
    line-height: 1;
    font-family: var(--font-titles);
    font-weight: 400;
    min-width: 15px;
}

.button {
    font-weight: bold;
    display: inline-block;
    padding: 18px 30px;
    border-radius: 0;
    font-size: 16.5px;
    line-height: 1.3333em;
    letter-spacing: 0;
    background-color: var(--block-dot-color);
    margin-top: 40px;
    margin-left: 19%;
    cursor: pointer;

}

.button__content_1_I {
    color: var(--block-white-color);
    text-decoration: none;
}

.button:hover {
    background-color: var(--block-name-color);
}

@media (max-width: 992px) {
    .under_head {
        position: static;
        height: 640px;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .text p {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-left: 3%;
    }

    .text-display {
        display: block;
    }

    .text-content {
        font-size: 400%;
        margin-left: 3%;
    }

    .text-ui-brand-color {
        margin-left: 3%;
        font-size: 400%;
    }

    .w-text-content {
        margin-left: 3%;
        font-size: 400%;
    }

    .button {
        margin-left: 3%;
    }
}