.about-us {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--block-about-us-color);
}
.about-us__img {
    display: block;
}
.about-us__h2 {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 38px;
    text-align: right;
    text-transform: uppercase;
    color: var(--block-white-color);
}
.about-us__h2__dot {
    font-size: 38px;
    color: var(--block-dot-color);
}
.about-us__p1 {
    font-weight: 400;
    font-size: 20px;
    color: var(--block-white-color);
}
.about-us__p2 {
    font-weight: 400;
    font-size: 16px;
    color: var(--block-white-color);
}