.why-choose-us__h2 {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}
.why-choose-us__slogan {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--block-form-color);
    margin-bottom: 50px;
}
.why-choose-us__cards {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
}
.cards__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--block-form-color);
    margin-bottom: 50px;
}
.cards {
    /*  */
}
.why-choose-us__divider {
    height: 2px;
    width: 8%;
    color: var(--block-why-choose-us-divider-color);
}