.why-choose-us {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.why-choose-us__h2 {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.why-choose-us__special-dot {
    color: var(--block-dot-color);
}
.why-choose-us__divider {
    height: 2px;
    width: 10%;
    color: var(--block-why-choose-us-divider-color);
    margin: 12px auto;
    border: none;
}
.why-choose-us__slogan {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--block-form-color);
    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 24px;
    margin-right: 24px;
}
.why-choose-us__cards__container{
    margin-bottom: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 24px;
    margin-right: 24px;
    gap: 30px;
}
@media (max-width: 991px) {
    .why-choose-us__cards__container {   
        grid-template-columns: 1fr 1fr;
    } 
}
@media (max-width: 767px) {
    .why-choose-us__cards__container {   
        grid-template-columns: 1fr;
        gap: 50px;
    } 
}
.why-choose-us__cards {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    margin: 20px 0 25px 0;
}
.why-choose-us__icons{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    /* filter: invert(100%) sepia(0%) saturate(1627%) hue-rotate(153deg) brightness(114%) contrast(76%); */
}
.cards__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--block-form-color);
    margin-bottom: 50px;
}
.why-choose-us__cards__item{
    border: 2px solid var(--block-why-choose-us-divider-color);
    margin: 0;
    padding: 30px;
    }
