.footer {
    background-color: var(--block-name-color);
}

@media (min-width: 768px) {

    .footer {
        padding: 10px 50px 10px 50px;
    }
}

.footer__container {
    color: var(--block-white-color);
    display: flex; 
    flex-direction: column;
    border-bottom: 0.5px solid;
    border-color: var(--block-white-color);
    padding-top: 50px;
}

@media (min-width: 768px){

    .footer__container {
        display: flex;
        flex-direction: row;
    }
}

.footer__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

@media (min-width: 768px){

    .footer__description-wrapper{
        display: flex;
        align-items: flex-start;
        padding: 20px 20px 40px 20px;
        width: 40%;
    }
}

.footer__logo {
    width: 179px;
}

.footer__description {
    color: #FFFFFFA6;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.5;
}

@media (min-width: 768px){
    
    .footer__description{
        text-align: left;
    }
}

.footer__navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

@media (min-width: 768px){

    .footer__navigation-wrapper {
        display: flex;
        align-items: flex-start;
        width: 20%;
        padding: 20px 20px 40px 20px;
    }
}

.footer__title {
    font-family: var(--font-titles);
    font-size: 24px;
}

.red-underline {
    height: 2px; 
    width: 20%; 
    background-color: var(--block-dot-color);
    margin: 15px 0 15px 0;
}

.footer__anchor{
    color:var(--block-white-color);
    text-decoration: none;
    font-size: 16px;
}

.footer__anchor:hover {
    color: var(--block-dot-color);
    text-decoration: underline;
}
.footer__li{
    list-style-type: none;
    padding: 15px 0 15px 0;
    text-align: center;
}

@media (min-width: 768px){

    .footer__li {
        text-align: left;
    }
}

.footer__shop-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

@media (min-width: 768px){

    .footer__shop-wrapper {
        display: flex;
        align-items: flex-start;
        width: 15%;
        padding: 20px 20px 40px 20px;
    }
}

.footer__social-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

@media (min-width: 768px){

    .footer__social-wrapper {
        display: flex;
        align-items: flex-end;
        width: 25%;
        padding: 20px 20px 40px 20px;
    }
}

.footer__social-links img{
    width: 35px;
    height: 35px;
    padding: 2px;
    margin-top: 20px;
    filter: invert(100%);
}

.footer__social-links a{

    text-decoration: none;
}

.footer__clock {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.footer__signature {
    background-color: var(--block-name-color);
    padding: 15px 15px 15px 15px;
}

.footer__signature-style {
    display: flex;
    color: var(--block-white-color);
    font-size: 14px;
    justify-content: space-between;
    padding:15px 50px 15px 50px;
    text-transform: uppercase;
    font-family: var(--font-titles);
}