.product-page__homepage {
  font-family: var(--font-subtitles);
  text-decoration: none;
  font-size: 16px;
  color: var(--block-dot-color);
  font-weight: 400;
}

.product-page__stock {
  font-family: var(--font-subtitles);
  font-size: 16px;
  color: var(--block-in-stock-color);
  font-weight: 400;
}

.product-page__h3 {
  font-family: var(--font-titles);
  font-size: 22px;
  font-weight: 400;
  color: var(--block-name-color);
}

.product-page__code {
  font-family: var(--font-subtitles);
  font-size: 14px;
  font-weight: 400;
  color: var(--block-name-color);
}

.product-page__itemprice {
  font-family: var(--font-subtitles);
  font-size: 20px;
  font-weight: 600;
  color: var(--block-form-color);
}

.product-page__h5 {
  font-family: var(--font-subtitles);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--block-form-color);
}

.product-page__description {
  font-family: var(--font-subtitles);
  font-size: 16px;
  font-weight: 400;
  color: var(--block-form-color);
}
