.keep-fit__back {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 870px;
    background-image: url(/img/keep-fit/back-img.jpeg);
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}
.keep-fit__article1 {
    color: #FFFFFF9F;
    font-size: 22px;
    font-weight: 400;
    font-family: Bebas Neue, cursive;
    font-stretch: 100%;
}
.keep-fit__title {
    font-family: Bebas Neue;
    font-size: 62px;
    font-stretch: 100%;
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    margin-left: 90px;
    font-style: normal;
    margin-top: -5px;
    margin-bottom: -40px;
    padding-left: 400px;
}
.keep-fit__item-list {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: PT Sans, sans-serif;
    font-stretch: 100%;
    width: 110px;
    line-height: 27px;
    margin: 0;
}
.keep-fit__article2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans, sans-serif;
    font-stretch: 100%;
}
<!--a.link.button check-->
.keep-fit__button-link{
    color: #FFFFFF;
    text-decoration: none;
    font-family: PT Sans, sans-serif;
    margin-left: 18px;
    text-align:center;
}
.keep-fit__carousel{
    box-sizing: border-box;
}
.keep-fit__blog-header{
color: #222323;
font-family: Bebas Neue, cursive;
font-size: 38px;
}
.keep-fit__blog-article{
color: #717474;
font-family: PT Sans, sans-serif;
font-size: 20px;
}
.keep-fit__post{
color: #222323;
font-family: PT Sans, sans-serif;
font-size: 24px;
}
