.main-collection {
}
.main-collection__block-wraper {
}
.main-collection-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-collection-header-hero {
    font-family: var(--font-titles);
    font-size: 45px;
}
.main-collection-header-dot {
    color: var(--block-dot-color);
}
.main-collection-header-devider {
    height: 2px;
    width: 8%;
    background-color: var(--block-input-color);
}

.main-collection-header-description {
    color: var(--block-form-color);
    font-size: 20px;
}
.main-collection-main {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;

}
.main-collection-main__puma {
}
.main-collection-main__puma-img {
}
.main-collection-main__item-name-link {
    text-decoration: none;

}
.main-collection-main__item-name-text {
    color: var(--block-form-color);
    font-weight: 400;
    font-size: 18px;
    margin-top: 24px;
}
.main-collection-main__item-name-text:hover {
    text-decoration: underline;
}
.main-collection-main__price {
    font-weight: 700;
    color: var(--block-dot-color);
    margin-top: 24px;
}
.main-collection-main__btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    text-decoration: none;
    background-color: var(--block-name-color);
    color: var(--block-white-color);
    margin-top: 24px;
}
.main-collection-main__btn:hover {
    background-color: var(--block-dot-color);
 
}
.main-collection-main__reebok {
}
.main-collection-main__reebok-img {
}
.main-collection-main__quicksilver {
}
.main-collection-main__quicksilver-img {
}