.main-collection__h2 {
    font-family: 'Bebas Neue', cursive;
    color: var(--block-name-color);
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}
.main-collection__h2__dot {
    color: var(--block-dot-color);
}
.devider-element {
    height: 2px;
    width: 8%;
    background-color: #e0e0e0;
}
.main-collection__description {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: rgb(113, 116, 116);
    font-size: 20px;
}
[name="button"] {
    color: white;
    background-color: var(--block-name-color);
}
[name="button"]:hover {
    color: white;
    background-color: var(--block-dot-color);
}
.table-women__price {
    color: var(--block-dot-color);
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.table-women__item-name {
    color: var(--block-secondary-color);
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.table-women__item-name:hover {
    text-decoration: underline;
}