.mid-season-sale__container {
  width: 1170px;
  margin: 0 auto;
}

.mid-season-sale__collection-container {
  width: 1432px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* flex: 1; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* flex-direction: row-reverse; */
}

.mid-season-sale__h3 {
  font-family: var(--font-titles);
  color: var(--block-name-color);
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 110px 0 10px 0;
  text-align: center;
}

.mid-season-sale__h3 span {
  font-family: var(--font-titles);
  color: var(--block-dot-color);
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.mid-season-sale__devider {
  width: 94px;
  height: 2px;
  background-color: rgb(224, 224, 224);
  margin: 0 auto;
  margin-bottom: 15px;
}

.mid-season-sale__subheader {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  line-height: 30px;
}

.mid-season-sale__item a {
  text-decoration: none;
  font-family: var(--font-subtitles);
  font-size: 15px;
  font-weight: 700;
}

.mid-season-sale__item-name {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 400;
}
.mid-season-sale__item-price {
  color: var(--block-dot-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 700;
}
