.mid-season-sale__container {
  width: 1170px;
  margin: 0 auto;
}

.mid-season-sale__h3 {
  font-family: var(--font-titles);
  color: var(--block-name-color);
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 50px;
  text-align: center;
}

.mid-season-sale__subheader {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.mid-season-sale__item a {
  text-decoration: none;
  font-family: var(--font-subtitles);
  font-size: 15px;
  font-weight: 700;
}

.mid-season-sale__item-name {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 400;
}
.mid-season-sale__item-price {
  color: var(--block-dot-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 700;
}
