/* .mid-season-sale {
  max-width: 1920px;
  margin: auto;
} */

/* .mid-season-sale__container {
  width: 1170px;
  margin: 0 auto;
} */

.mid-season-sale__collection .col {
  padding: 0;
}

.mid-season-sale__collection-container {
  /* width: 1432px; */
  height: 100%;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between; */

  /* justify-content: space-around; */
  /* flex: 1; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
}

.mid-season-sale__h3 {
  font-family: var(--font-titles);
  color: var(--block-name-color);
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 110px 0 10px 0;
  text-align: center;
}

.mid-season-sale__h3 span {
  font-family: var(--font-titles);
  color: var(--block-dot-color);
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.mid-season-sale__devider {
  width: 94px;
  height: 2px;
  background-color: rgb(224, 224, 224);
  margin: 0 auto;
  margin-bottom: 15px;
}

.mid-season-sale__subheader {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  line-height: 30px;
}

.mid-season-sale__collection article {
  margin-right: 10px;
}

.mid-season-sale__item a {
  text-decoration: none;
  font-family: var(--font-subtitles);
  font-size: 15px;
  font-weight: 700;
}

.mid-season-sale__item-name {
  color: var(--block-form-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.mid-season-sale__img {
  width: 100%;
}

.mid-season-sale__item-name:hover {
  text-decoration: underline;
}

.mid-season-sale__item-price {
  color: var(--block-dot-color);
  font-family: var(--font-subtitles);
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 25px 0;
}

.mid-season-sale__cart {
  width: 125px;
  height: 50px;
  display: block;
  padding-top: 15px;
  background-color: var(--block-name-color);
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: var(--block-white-color);
  margin-bottom: 30px;
}
.mid-season-sale__cart:hover {
  background-color: var(--block-dot-color);
  transition-duration: 0.25s;
  /* transition-property: all; */
  /* transition-delay: 0.1s; */
}
