@import url(common.css);
.newfitcollection {
  background-image: url(../img/newFitnessCollection/woman_with_mat_bg.jpg);
  height: 1000px;
  width: auto;
}
.newfitcollection__supheader {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  color: var(--block-transparent-color);
}
.newfitcollection__h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 124px;
  font-weight: normal;
  color: var(--block-name-color);
  width: 500px;
  line-height: 124px;
}
.newfitcollection__h2 span {
  color: var(--block-dot-color);
}
.main-coll__anchor {
  font-family: "PT Sans", sans-serif;
  font-size: 16.5px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: inline-block;
  width: 160px;
  height: 54px;
  background: var(--block-dot-color);
  text-align: center;
  border: 2px solid var(--block-dot-color);
}

.main-coll__anchor:hover {
  background: var(--block-name-color);
}

.newfitcollection__playback {
}
.fa-solid {
}
.fa-circle-play {
}
