.newfitcollection {
  background: url(../img/new-fitness-collection/woman-with-mat-bg.jpg) center center/cover no-repeat;
  height: 800px;
  width: 100%;
  /* object-fit: contain;
  object-position: left top; */
  padding-top: 220px;
}

.newfitcollection__container {
  width: 100%;
  margin: 0 auto;
}

.newfitcollection__supheader {
  font-family: var(--font-titles);
  font-size: 24px;
  color: var(--block-transparent-color);
}
.newfitcollection__h2 {
  font-family: var(--font-titles);
  font-size: 64px;
  font-weight: normal;
  color: var(--block-name-color);
  /* width: 500px; */
  /* line-height: 124px; */
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .newfitcollection__h2 {
    font-size: 80px;
  }
}

@media (min-width: 575px) {
  .newfitcollection__h2 {
    font-size: 88px;
  }
}

@media (min-width: 768px) {
  .newfitcollection__h2 {
    font-size: 96px;
  }
}

@media (min-width: 992px) {
  .newfitcollection__h2 {
    font-size: 108px;
  }
}

@media (min-width: 1200px) {
  .newfitcollection__h2 {
    font-size: 124px;
  }
}

.newfitcollection__h2 span {
  color: var(--block-dot-color);
}

/* .newfitcollection__flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.newfitcollection__playback {
  margin: 0 0 100px 60px;
}

i {
  font-size: 56px;
  color: white;
}

.main-coll__anchor {
  width: 160px;
  height: 54px;
  display: inline-block;
  background: var(--block-dot-color);
  cursor: pointer;
  padding-top: 16px;

  font-family: var(--font-subtitles);
  font-size: 16.5px;
  color: var(--block-white-color);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.main-coll__anchor:hover {
  background-color: var(--block-name-color);
  transition-duration: 0.8s;
  /* transition-delay: 1s; */
}

.newfitcollection__playback {
}

.fa-solid:hover {
  background-color: red;
  border-radius: 100%;
}
