.newfitcollection {
  background: url(../img/new-fitness-collection/woman-with-mat-bg.jpg) center/cover no-repeat;
  height: 800px;
}

.newfitcollection__container {
  width: 1170px;
  margin: 0 auto;
}

.newfitcollection__supheader {
  font-family: var(--font-titles);
  font-size: 24px;
  color: var(--block-transparent-color);
}
.newfitcollection__h2 {
  font-family: var(--font-titles);
  font-size: 124px;
  font-weight: normal;
  color: var(--block-name-color);
  width: 500px;
  line-height: 124px;
}
.newfitcollection__h2 span {
  color: var(--block-dot-color);
}
.main-coll__anchor {
  width: 160px;
  height: 54px;
  font-family: var(--font-subtitles);
  font-size: 16.5px;
  color: var(--block-white-color);
  font-weight: 700;
  display: inline-block;

  box-shadow: inset 0 -5px 0 rgba(0 0 0 0.18);
  background-image: linear-gradient(to top, rgb(218, 0, 0), rgb(255, 0, 0));
  /* background: var(--block-dot-color); */
  text-align: center;
  border: 0.5px solid var(--block-dot-color);
}

.main-coll__anchor:hover {
  box-shadow: inset 0 -5px 0 rgba(0 0 0 0.18);
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(61, 61, 61));
  /* background: var(--block-name-color); */
  border: 0.5px solid var(--block-name-color);
}

.newfitcollection__playback {
}
.fa-solid {
}
.fa-circle-play {
}
