.offer {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;


    /* variable color*/
    --offer-background: #222323;
    --red-dot-and-price: #f40106;
    --white-text: #ffffff;
}

.offer__wrap {
    width: 50%;
    background-color: var(--offer-background);
}
.offer__wrap__container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.offer__wrap__h2 {
    font-size: 124px;
    color: var(--white-text);
}
.offer__wrap__h2_dot {
    color: var(--red-dot-and-price);
    font-size: 93px;
}
.offer__wrap__p1 {
    font-size: 16px;
    color: var(--white-text);
}
.offer__wrap__p1__new {
    font-size: 42px;
    color: var(--red-dot-and-price);
}
.offer__wrap__p1__old {
    text-decoration: line-through;
    font-size: 23px;
    color: var(--white-text);
}
.offer__wrap__p2 {
    font-size: 20px;
    color: var(--white-text);
    max-width: 85%;
}
.offer__wrap__details-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}
.offer__wrap__details-link_a {
    text-decoration: none;
    color: var(--white-text);
    margin-right: 7px;
}
.offer__wrap__details-link_svg {
    width: 24px;
    height: 24px;
    color: var(--white-text);
}
.offer__wrap__countdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.countdown-number {
    width: 64px;
    height: 64px;
    border: 2px solid var(--white-text);
    border-radius: 5px;
}
.countdown-time {
    font-size: 36px;
    color: var(--white-text);
    text-align: center;
} 
.countdown-text {
    font-size: 18px;
    color: var(--white-text);
    text-align: center;
}

.store-offer_img {
    width: 50%;
}

