.cart-main {
    align-items: center;
    padding: 20px;
}
.cart-main__container {
   
}
.cart-main__nav {
    padding: 50px 0 30px 0;
}
.cart-main__link {
    color: var(--block-dot-color);
}
.cart-slider {
}
.cart-slider__item {
}
.cart-slider__img {
    width: 100%;
}
.cart-item-info {
    margin-top: 50px;
}
.cart-item-info__stock {
    color: var(--block-in-stock-color);
}
.cart-item-info__name {
    font-family: var(--font-titles);
    font-size: 22px;
    margin-top: 8px;
}
.cart-item-info__code {
    font-size: 14px;
    margin-top: 8px;
}
.cart-item-info__price {
   color: var(--block-form-color);
   font-weight: 600;
   font-size: 20px;
   margin-top: 24px;
}
.cart-item-info__devider {
    background-color: var(--block-cart-item-devider-color);
    height: 1px;
    width: 100%;
    margin: 24px 0;
}
.cart-item-info__btns {
    display: flex;
}
.cart-item-info__counter {
}
.cart-item-info-link {
  line-height: 40px;
  width: 100%;
  height: 40px;
}
.cart-item-info-link__wraper {
    display: flex;
    justify-content: center;
}
.cart-item-info-link__text {
    color: var(--block-white-color);
    background-color: var(--block-dot-color);
    width: 100%;
}
.cart-item-info-link__text:hover {
    background-color: black;
} 
.cart-item-info-description {
}
.cart-item-info-description__name {
}
.cart-item-info-description__devider {
}
.cart-item-info-text {
}